#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #theme-toggle {
        display: flex;
        align-items: center;
        gap: 1rem;

        background-color: transparent;
        color: black;

        padding: 0rem;
        border: 0rem;

        * {
            margin: 0rem;
            width: max-content;
            height: max-content;
        }
    }
}

.App.dark {
    #header {
        #theme-toggle {
            color: white;
        }
    }
}