#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #theme-toggle {
        display: flex;
        align-items: center;

        background-color: transparent;

        padding: 0rem;
        border: 0rem;

        * {
            margin: 0rem;
            width: max-content;
            height: max-content;
        }
    }
}