#search {
    display: flex;
    flex-direction: column;

    padding: 0.5rem 0.5rem;
    height: 3.4rem;

    svg {
        position: relative;
        z-index: 1;

        left: 2px;
    }

    input {
        position: relative;
        z-index: 1;
        top: 0.5rem;

        height: 38px;

        text-indent: 24px;

        background-color: transparent;
        border: 0rem;
    }

    button {
        position: relative;
        z-index: 1;
    }

    #input-inside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        position: relative;
        top: -23px;
    }
}