@import url(styles/medias/Tablet.scss);
@import url(styles/medias/Desktop.scss);

#root {
    height: 100vh;

    background-color: #F5F8FF;
}

#root.dark {
    background-color: rgb(20, 28, 47);
}

.App {
    background-color: #F5F8FF;
    color: black;

    .board {
        background-color: white;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
    }

    display: flex;
    flex-direction: column;
    gap: 2rem;

    padding: 3rem 2rem 5rem;
    height: auto;
    width: 100vw;

    #search {
        input {
            &:focus-visible {
                outline: none;
            }
        }
    }

    #profile {
        #social {
            background-color: #F5F8FF;
        }
    }
}

.App.dark {
    background-color: rgb(20, 28, 47);
    color: white;

    .board {
        background-color: #1F2A48;
        border-radius: 1rem;
    }

    #search {
        input {
            color: white;
        }
    }

    #profile {
        #social {
            background-color: #141C2F;
        }
    }
}