@media (min-width: 1000px) {
    .App #profile #bio,
    .App #profile #social,
    .App #profile #contact {
        margin-left: calc(20% + 1rem);
    }

    #root {
        display: flex;
        justify-content: center;
    }

    .App {
        padding: 0rem 6rem;
    }
}