@media (min-width: 500px) {
    .App {
        height: 100vh;

        justify-content: center;
    }

    .App #profile #contact {
        display: grid;
        grid-template-columns: auto auto;
    }

    .App #profile #top img {
        width: 20%;
    }
}