@media (min-width: 500px) {
    #root {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .App {
        width: 90%;

        justify-content: center;
    }

    .App #profile #contact {
        display: grid;
        grid-template-columns: auto auto;
    }

    .App #profile #top img {
        width: 20%;
    }
}